@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-size: 62.5%; // 1 rem = 10 px; 10px/16px = 62.5
    scroll-behavior: smooth;
    font-family: "Work Sans", sans-serif;

    @include respond(pc-small) {
        font-size: 45%;
    }
    @include respond(tab-land) {
        font-size: 40%;
    }
    // @include respond(tab-port) {
    //    font-size: 50%; //1 rem = 8px; 8/16=
    // }
    // @include respond(big-desktop) {
    //    font-size: 75%; //1 rem = 12px; 12/16=
    // }
}

:root {
    --color-1: #6edae6;
    --color-white: #fff;
    --color-black: #000;
}

a {
    text-decoration: none;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
