.section-1 {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-1);
    // display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0);
    position: relative;
}

/* Logo */
.logo {
    position: absolute;
    top: 3rem;
    left: 3rem;

    i {
        font-size: 10rem;
        color: rgba(0, 0, 0, 0.8);
    }
}

/* End of Logo */

/* Navbar */
.navbar {
    position: absolute;
    top: 3rem;
    right: 10%;

    &-link {
        font-size: 2rem;
        display: inline-block;
        margin: 0 3rem;
        color: var(--color-black);
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.5);
        }
    }
}

/* End of Navbar */
