.section-2 {
    width: 100%;
    height: 120vh;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @include respond(phone) {
        overflow: hidden;
    }
    &__heading {
        font-size: 10rem;
        font-weight: 200;
        color: var(--color-black);
        position: relative;
        margin-bottom: 5rem;

        &::after {
            content: "";
            position: absolute;
            width: 130%;
            height: 70vh;
            background-image: linear-gradient(
                var(--color-1),
                var(--color-white)
            );

            top: 0;
            left: 0;
            z-index: -1;
            transform-origin: top left;
            transform: skewX(-50deg);
            border-radius: 0.5rem;
        }
    }
}

.iphones {
    position: relative;
    // height: 60rem;
    // width: 40rem;
    height: 60vh;
    width: 50vw;
    background-image: linear-gradient(var(--color-1), var(--color-white));
    border-radius: 0.5rem;

    img {
        max-height: 55vh;
        transition: opacity 2s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__img-2 {
        opacity: 0;
    }
    &:hover &__img-2 {
        opacity: 1;
        transition: opacity 2s;
    }
    &:hover &__img-1 {
        opacity: 0;
        transition: opacity 2s;
    }
}

.iphone-btns {
    display: flex;
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        // display: inline-block;
        height: 6rem;
        width: 6rem;
        background-image: linear-gradient(
            to right,
            rgb(51, 51, 51) 60%,
            rgb(82, 82, 82)
        );
        margin: 0 3rem;
        border-radius: 50%;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 50%;
            height: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            border: 0.1rem solid #6edae6;
            border-radius: 1rem;
        }

        span {
            position: absolute;
            top: -3rem;
            font-size: 1.6rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            color: var(--color-1);
            width: max-content;

            transform: scale(0);
            transition: transform 0.5s;
        }

        &:hover span {
            transform: scale(1);
        }
    }
}
