.section-4 {
    height: 100vh;
    // padding: 20vh 0 20vh;
    margin: 20vh 0;
    @extend %flex-center;
    position: relative;
    overflow: hidden;
}

.watch {
    position: relative;
    @extend %flex-center;

    &__band {
        position: absolute;
        @extend %flex-center;
        transition: margin-left 1s;
        &--img {
            width: 35rem;
            height: 35rem;
            object-fit: contain;
        }
    }

    &__case {
        position: absolute;

        @extend %flex-center;
        flex-direction: column;
        transition: margin-top 1s;

        &--img {
            width: 35rem;
            height: 35rem;
            object-fit: contain;
        }
    }

    &__control {
        width: 4rem;
        height: 4rem;
        background-color: rgba(221, 221, 221, 0.4);
        border-radius: 50%;
        color: var(--color-1);
        position: absolute;
        font-size: 3rem;
        @extend %flex-center;
        z-index: 1;

        &--top {
            top: 3rem;
            left: 50%;
            transform: translateX(-50%);
        }
        &--bottom {
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%);
        }
        &--left {
            top: 50%;
            left: 3rem;
            transform: translateY(-50%);
        }
        &--right {
            top: 50%;
            right: 3rem;
            transform: translateY(-50%);
        }

        &--hide {
            visibility: hidden;
            // opacity: 0;
        }
    }

    &__btn {
        position: absolute;
        bottom: 10%;
        right: 35%;
        width: 13rem;
        height: 5rem;
        background-color: var(--color-black);
        color: var(--color-1);
        border: 0.1rem dashed var(--color-white);
        border-radius: 4rem;
        font-size: 1.6rem;
        font-weight: 200;
        cursor: pointer;
    }
}
