.section-5 {
    height: 80vh;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
}

.airpods {
    &__heading {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10rem;
        font-size: 15rem;
        font-weight: 300;
        color: var(--color-white);
        text-shadow: 0.1rem 0.1rem 0 #999;
    }

    &__img {
        height: 100%;

        object-fit: contain;

        &:last-of-type {
            background-color: var(--color-1);
        }
    }

    &__buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 4rem;
    }

    &__btn {
        width: 15rem;
        height: 4rem;
        color: white;
        background-color: var(--color-1);
        border: none;
        outline: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:last-of-type {
            background-color: var(--color-white);
            color: var(--color-1);
        }
    }
}
